:root {
  --epl--color--background: #942423;
  --epl--color--text: #eebbba;
  --epl--color--link: rgb(255 255 255);
  --epl--typography--font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  min-height: 100%;
}

body {
  background: var(--epl--color--background);
  color: var(--epl--color--text);
  font-family: var(--epl--typography--font-family);
  height: 100vh;
}

a {
  color: var(--epl--color--link);
}
